<h2 mat-dialog-title class="text-center"> Delete user </h2>
<hr>

<div class="shadow-none p-3 bg-light border rounded">
  <!-- <mat-dialog-content> -->
  <form [formGroup]="form" novalidate>
    <h6> The user will be permanently deleted from the system. Are you sure? </h6>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" formControlName="Checkbox">
      <label class="form-check-label" for="flexCheckDefault">
        Yes, I'm sure!
      </label>
    </div>
  </form>
  <!-- </mat-dialog-content> -->
</div>
<hr>

<mat-dialog-actions>
  <button type="button" class="btn btn-danger" [disabled]="!form.valid" (click)="deleteUser()">
    Delete user
  </button>
  <button type="button" class="btn btn-secondary ml-10px" (click)="closeDialog()">
    Cancel
  </button>
</mat-dialog-actions>
