<!-- Navbar begin -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"> Task Control </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Create user </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#"> Create task </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"> Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here </a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar end -->

<br>

<!-- Body begin -->
<div class="container">
    <h3> {{ message }} </h3>
</div>
<!-- Body end -->

<!-- Footer begin -->
<nav class="fixed-bottom">
    <div class="container">
        <footer class="text-center text-lg-center">
            <div class="col-sm-12 text-center text-footer p-4" style="font-size: 12px;">
                <a class="fw-bold text-footer text-reset text-decoration-none"
                    href="https://github.com/jorgeclenio/treinamento-ellevo-next" target="_blank">
                    JORGE CLÊNIO
                </a> &copy; 2022
            </div>
        </footer>
    </div>
</nav>
<!-- Footer end -->

<router-outlet></router-outlet>