<h2 mat-dialog-title class="text-center"> Update task </h2>
<hr>
<div class="shadow-none p-3 bg-light border rounded">
  <form [formGroup]="form" novalidate>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Title" formControlName="title">
    </div>
    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Description" formControlName="description"></textarea>
    </div>
    <div class="input-group mb-3">
      <select class="form-select" formControlName="status">
        <option [value]="statusEnum.NotStarted"> Not Started </option>
        <option [value]="statusEnum.InProgress"> In Progress </option>
        <option [value]="statusEnum.Waiting"> Waiting </option>
        <option [value]="statusEnum.Concluded"> Concluded </option>
      </select>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Responsible" formControlName="responsible">
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button type="button" class="btn btn-warning text-white" (click)="updateTask()" [disabled]="!form.valid">
    Update task
  </button>
  <button type="button" class="btn btn-danger ml-10px" (click)="closeDialog()"> Cancel </button>
</mat-dialog-actions>
