<div class="text-center container mg-top-3rem">
  <img src="./../../../../../assets/images/me3.jpg" height="155" width="155" style="border-radius: 50% !important;"
    alt="profile-pic">
  <div class="mg-top-10px">
    <h1> {{ name }} </h1>
    <p> 💻 Computer Engineer & Full Stack Developer 🤓 <br> angular | .net | mongodb </p>
  </div>
  <hr>
  <div class="mg-top-10px">
    <a href="https://www.github.com/jorgeclenio/" class="text-decoration-none" target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/github_w.png" alt="github">
    </a>
    <a href="https://www.linkedin.com/in/jrgcln/" class="text-decoration-none mg-left-20px" target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/linkedin_w.png" alt="linkedIn">
    </a>
    <a href="https://api.whatsapp.com/send?phone=5591983879979" class="text-decoration-none mg-left-20px"
      target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/whatsapp_w.png" alt="whatsapp">
    </a>
    <a href="http://lattes.cnpq.br/5153457628505343" class="text-decoration-none mg-left-20px" target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/cv_w.png" alt="twitch">
    </a>
  </div>
  <div class="mg-top-10px">
    <a href="https://www.instagram.com/jrgcln/" class="text-decoration-none" target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/instagram_w.png" alt="instagram">
    </a>
    <a href="https://www.facebook.com/jrgcln/" class="text-decoration-none mg-left-20px" target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/facebook_w.png" alt="facebook">
    </a>
    <a href="https://www.twitter.com/jrgcln/" class="text-decoration-none mg-left-20px" target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/twitter_w.png" alt="twitter">
    </a>
    <a href="https://www.twitch.tv/clenio/" class="text-decoration-none mg-left-20px" target="_blank">
      <img class="icon-size" src="./../../../../../assets/images/twitch_w.png" alt="twitch">
    </a>
  </div>
  <hr>
  <div class="container">
    <button type="button" class="btn btn-outline-primary"> Download currículo </button>
  </div>
</div>
