<!-- BEGIN LOGIN FORM -->
<div class="position-relative top-50 start-50 translate-middle p-3 bg-dark bg-opacity-10 border rounded form-box">
  <h1 class="text-center"> Task Control </h1>
  <hr>
  <form [formGroup]="form">
    <div class="mb-3">
      <input type="text" class="form-control" formControlName="Username" placeholder="Username">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" formControlName="Password" placeholder="Password">
    </div>
    <hr>
    <div class="d-grid gap-2">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary" (click)="onSubmit()"> LOG IN </button>
    </div>
  </form>
</div>
<!-- END LOGIN FORM -->
