<h2 mat-dialog-title class="text-center"> Update user </h2>
<hr>
<div class="shadow-none p-2 bg-light border rounded">
  <form [formGroup]="form" novalidate>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Name" formControlName="name">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="UserName" formControlName="userName">
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <div class="input-group mb-3">
      <input appMask="cpf" type="text" class="form-control" placeholder="Ex.: 123.456.789-10" formControlName="cpf"
        maxlength="14">
      <input appMask="phone" type="text" class="form-control" placeholder="Ex.: (47) 31234-5678"
        formControlName="phoneNumber" maxlength="15">
    </div>
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Ex.: email@email.com" formControlName="email">
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button type="button" class="btn btn-warning text-white" (click)="updateUser()" [disabled]="!form.valid">
    <fa-icon [icon]="faPencil" class="mr-5px"></fa-icon>
    Update user
  </button>
  <button type="button" class="btn btn-danger ml-10px" (click)="closeDialog()">
    <fa-icon [icon]="faBan" class="mr-5px"></fa-icon>
    Cancel
  </button>
</mat-dialog-actions>
