<h2 mat-dialog-title class="text-center"> User details </h2>
<hr>
<div class="shadow-none p-2 bg-light border rounded">
  <form [formGroup]="form" novalidate>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Name" formControlName="name">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="UserName" formControlName="userName">
    </div>
    <div class="input-group mb-3">
      <input appMask="cpf" type="text" class="form-control" placeholder="CPF" formControlName="cpf">
      <input appMask="phone" type="text" class="form-control" placeholder="PhoneNumber" formControlName="phoneNumber">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email" formControlName="email">
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button type="button" class="btn btn-danger" (click)="closeDialog()"> Close </button>
</mat-dialog-actions>
