<div class="container">
  <app-title [title]="title"></app-title>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <fa-icon [icon]="faBars"></fa-icon>
      <li class="breadcrumb-item p_pointer ml-5px"><a (click)="navigateToDashboard()"> Dashboard </a></li>
      <li class="breadcrumb-item active" aria-current="page"> User list </li>
    </ol>
  </nav>
  <hr>
  <div class="shadow-none p-2 bg-light border rounded">
    <div class="scrollable">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Name </th>
            <th scope="col"> User Name </th>
            <th scope="col"> CPF </th>
            <th scope="col"> Phone Number </th>
            <th scope="col"> Email </th>
            <th scope="col"> Actions </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let user of users">
            <td class="col-sz-name"> {{ user.name }} </td>
            <td class="col-sz-userName"> {{ user.userName }} </td>
            <td class="col-sz-cpf"> {{ user.cpf }} </td>
            <td class="col-sz-phoneNumber"> {{ user.phoneNumber }} </td>
            <td class="col-sz-email"> {{ user.email }} </td>
            <td class="col-sz-button">
              <button type="button" class="btn btn-primary" matTooltip="Details"
                (click)="navigateToUserDetails(user.id)">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
              </button>
              <button type="button" class="btn btn-warning text-white ml-5px" matTooltip="Update"
                [disabled]="user.userName === 'admin'" (click)="navigateToUserUpdate(user.id)">
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger ml-5px" matTooltip="Delete"
                [disabled]="user.userName === 'admin'" (click)="navigateToUserDelete(user.id)">
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-primary mt-10px" (click)="newUser()">
    <fa-icon [icon]="faPlus"></fa-icon>
    <span class="ml-5px"> Create user </span>
  </button>
</div>
