.scrollable {
  min-height: 400px;
  max-height: 400px;
  overflow: scroll;
}

.col-sz-name {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-sz-userName {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-sz-cpf {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-sz-phoneNumber {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-sz-email {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-sz-button {
  min-width: 175px;
  max-width: 175px;
}
