<div class="container">
  <app-title [title]="title"></app-title>
  <nav>
    <ol class="breadcrumb">
      <fa-icon [icon]="faBars"></fa-icon>
      <li class="breadcrumb-item p_pointer ml-5px"><a (click)="navigateToDashboard()"> Dashboard </a></li>
      <li class="breadcrumb-item active"> Task list </li>
    </ol>
  </nav>
  <hr>
  <div class="shadow-none p-2 bg-light border rounded">
    <div class="scrollable">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Generator </th>
            <th scope="col"> Title </th>
            <th scope="col"> Status </th>
            <th scope="col"> Responsible </th>
            <th scope="col"> Actions </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let task of tasks">
            <td class="col-generator"> {{ task.generator.name }} </td>
            <td class="col-title"> {{ task.title }} </td>
            <td class="col-status"> {{ getStatusRef(task.status) }} </td>
            <td class="col-responsible"> {{ task.responsible?.name || "-" }} </td>
            <td class="col-sz-action-buttons">
              <button type="button" class="btn btn-success" matTooltip="Activities"
                (click)="navigateToActivityByTask(task.id)">
                <fa-icon [icon]="faTasks"></fa-icon>
              </button>
              <button type="button" class="btn btn-primary ml-5px" matTooltip="Details"
                (click)="navigateToTaskDetails(task.id)">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
              </button>
              <button type="button" class="btn btn-warning text-white ml-5px" matTooltip="Update"
                (click)="navigateToTaskUpdate(task.id)">
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger ml-5px" matTooltip="Delete"
                (click)="navigateToTaskDelete(task.id)">
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button type="button" class="btn btn-primary mt-10px" (click)="newTask()">
    <fa-icon [icon]="faPlus"></fa-icon>
    <span class="ml-5px"> Create task </span>
  </button>
</div>
