.scrollable {
  min-height: 400px;
  max-height: 400px;
  overflow: scroll;
}

.col-generator {
  min-width: 150px;
  max-width: 150px;
}

.col-title {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-description {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-status {
  min-width: 150px;
  max-width: 150px;
}

.col-resposible {
  min-width: 150px;
  max-width: 150px;
}

.col-activity {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}

.col-sz-action-buttons {
  min-width: 175px;
  max-width: 175px;
}
