<!-- <app-title [title]="title"></app-title> -->
<!-- <h4> login works! </h4> -->

<div class="form-box position-absolute top-50 start-50 translate-middle">
  <div class="text-center">
    <h1> Task Control </h1>
    <br>
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  </div>
  <div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Password" aria-label="Password">
  </div>
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-primary">
      <a class="dropdown-item" routerLink="/dashboard"> LOG IN </a>
    </button>
  </div>
</div>

<!-- <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
