<h2 mat-dialog-title class="text-center"> Create task </h2>
<hr>

<div class="shadow-none p-3 bg-light border rounded">
  <!-- <mat-dialog-content> -->
  <form [formGroup]="form" novalidate>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Title" formControlName="title">
    </div>
    <div class="input-group mb-3">
      <textarea class="form-control" placeholder="Description" formControlName="description"></textarea>
    </div>
    <div class="input-group">
      <select class="form-select" formControlName="status">
        <option [value]="statusEnum.NotStarted"> Not Started </option>
        <option [value]="statusEnum.InProgress"> In Progress </option>
        <option [value]="statusEnum.Waiting"> Waiting </option>
        <option [value]="statusEnum.Concluded"> Concluded </option>
      </select>
      <!-- *ngFor para percorrer lista com todos os usuários cadastrados no sistema; -->
      <select class="form-select" formControlName="responsibleId">
        <option selected> Open this select menu </option>
        <option value="1"> One </option>
        <option value="2"> Two </option>
        <option value="3"> Three </option>
      </select>
    </div>
  </form>
  <!-- </mat-dialog-content> -->
</div>

<mat-dialog-actions>
  <button type="button" class="btn btn-primary" (click)="createTask()" [disabled]="!form.valid">
    Create task
  </button>
  <button type="button" class="btn btn-danger ml-10px" (click)="closeDialog()"> Cancel </button>
</mat-dialog-actions>
<!-- <app-form-debug [form]="form"></app-form-debug> -->
