<div class="p_padding">

    
    <h2> > Interpolation </h2>
    
    <p> Meu nome é {{ nome }} e tenho {{ idade }} anos. </p>
    <p> {{ nome }} tem mais de 25 anos? </p>
    <p> {{ idade > 25 }} </p>
    
    <p> Quanto é {{ idade }} + {{ maisUm }}? </p>
    <p> {{ idade + maisUm }} </p>
    
    <hr> <!-- ------------------------------ -->
    
    <h2> > Property Binding </h2>
    <button [disabled]="checkedDisabled"> Button </button> 
    
    <br>
    <br>
    
    <img [src]="imgSrc" [title]="imgTitle" [alt]="imgTitle">

    <hr> <!-- ------------------------------ -->

    <h2> > Event Binding </h2>

    <button (click)="alertInfo($event)"> Event </button>

    <br>
    <br>

    <div (mousemove)="mouseMoveTest($event)" style="background: red; width: 300px; height: 300px;"></div>

    <hr> <!-- ------------------------------ -->
    
    <h2> > Two-Way Binding </h2>

    <input [(ngModel)]="nome">
    {{ nome }}

    <hr> <!-- ------------------------------ -->

</div>