<h2 mat-dialog-title class="text-center"> Create user </h2>
<hr>
<mat-dialog-content>
  <form [formGroup]="form" novalidate>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Name" formControlName="Name">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Username" formControlName="Username">
    </div>
    <div class="input-group mb-2">
      <input type="password" class="form-control" placeholder="Password" formControlName="Password">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="CPF" formControlName="Cpf">
      <input type="text" class="form-control" placeholder="Phonenumber" formControlName="Phonenumber">
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Email" formControlName="Email">
    </div>
  </form>
</mat-dialog-content>
<hr>
<mat-dialog-actions>
  <button type="button" class="btn btn-primary" (click)="createUser()" [disabled]="!form.valid">
    Create user
  </button>
  <button type="button" class="btn btn-danger ml-10px" (click)="closeDialog()"> Cancel </button>
</mat-dialog-actions>
<app-form-debug [form]="form"></app-form-debug>
