<div class="container">
  <app-title [title]="title"></app-title>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <fa-icon [icon]="faBars"></fa-icon>
      <li class="breadcrumb-item p_pointer ml-5px"><a (click)="navigateToDashboard()"> Dashboard </a></li>
      <li class="breadcrumb-item p_pointer"><a (click)="navigateToTaskList()"> Task list </a></li>
      <li class="breadcrumb-item active"> Activity list </li>
    </ol>
  </nav>
  <hr>
  <div class="row-info">
    <p><b> Generator: </b> {{ generator }} - <b> Responsible: </b> {{ responsible }} </p>
    <p><b> Status: </b><span [innerHTML]="status"></span></p>
  </div>
  <form [formGroup]="form" novalidate>
    <div class="input-group">
      <angular-editor class="form-control" placeholder="Description" formControlName="description"
        [config]="editorConfig"></angular-editor>
    </div>
  </form>
  <hr>
  <div class="shadow-none mb-2 p-2 bg-light border rounded">
    <div class="scrollable-bb">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Activity </th>
            <th scope="col"> Date </th>
            <th scope="col"> Actions </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let activity of activities">
            <td class="col-sz-activity"> {{ activity.description}} </td>
            <td class="col-sz-date"> {{ activity.date }} </td>
            <td class="col-sz-button">
              <button type="button" class="btn btn-primary" matTooltip="Details"
                (click)="navigateToActivityDetails(activity.id)">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
              </button>
              <button type="button" class="btn btn-warning text-white ml-5px" matTooltip="Update"
                (click)="navigateToActivityUpdate(activity.id)">
                <fa-icon [icon]="faPencil"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger ml-5px" matTooltip="Delete"
                (click)="navigateToActivityDelete(activity.id)">
                <fa-icon [icon]="faXmark"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="newActivity(taskId)"> Add new activity </button>
</div>
