<div class="container">
  <app-title [title]="title"></app-title>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <fa-icon [icon]="faBars"></fa-icon>
      <li class="breadcrumb-item active ml-5px" aria-current="page"> Dashboard </li>
    </ol>
  </nav>
  <hr>
  <div class="shadow-none p-2 bg-light border rounded">
    <div class="row">
      <div class="card ml-10px" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Registered Tasks </h5>
          <p class="card-text"> List of all registered tasks; </p>
          <button type="button" class="btn btn-primary" (click)="navigateToTask()">
            Go to
          </button>
        </div>
      </div>
      <div class="card ml-10px" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Registered Users </h5>
          <p class="card-text"> List of all registered users; </p>
          <button type="button" class="btn btn-primary" (click)="navigateToUser()">
            Go to
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row ml-10px">
    <ul>
      <h6> > General </h6>
      <li>
        Não será possível excluir usuário admin;
      </li>
    </ul>
    <hr>
    <ul>
      <h6> > Bugs </h6>
      <li>
        Quando acessado o endereço http://localhost:4200/ ele tenta automaticamente redirecionar para
        http://localhost:4200/list;
      </li>
      <li>
        Na hora de criar uma nova tarefa, se o status da mesma for diferente do padrão inicializado (Not Started),
        ocorrerá erro;
      </li>
      <li>
        Na hora de criar uma nova tarefa, se o responsável da mesma não for selecionado, ocorrerá erro (não é
        obrigatório escolher responsável);
      </li>
      <li>
        Quando criada uma tarefa, mesmo que não contenha nenhuma atividade vinculada a mesma, não é possível deleta-lá;
      </li>
      <li>
        Na hora de atualizar uma task, a mesma não retorna qual responsável estava designado, consequentemente, mesmo
        que selecione algum <br> responsável, não ocorre a atualização deste campo na tabela de tarefas;
      </li>
      <li>
        Na atualização ou visualização de uma atividade vinculada à uma tarefa, a mesma não retorna o html como foi setado na criação do mesmo;
      </li>
      <li>
        No update de usuário, quando alterada a senha, devera ser retornado no frontend a mesma criptografada;
      </li>
    </ul>
  </div>
  <hr>
</div>
