<div class="container">
  <app-title [title]="title"></app-title>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <fa-icon [icon]="faBars"></fa-icon>
      <li class="breadcrumb-item active ml-5px" aria-current="page"> Dashboard </li>
    </ol>
  </nav>
  <hr>
  <div class="shadow-none p-2 bg-light border rounded">
    <div class="row">
      <div class="card ml-10px" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Registered Tasks </h5>
          <p class="card-text"> List of all registered tasks; </p>
          <button type="button" class="btn btn-primary" (click)="navigateToTask()">
            <fa-icon [icon]="faListCheck" class="mr-5px"></fa-icon>
            Go to
          </button>
        </div>
      </div>
      <div class="card ml-10px" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Registered Users </h5>
          <p class="card-text"> List of all registered users; </p>
          <button type="button" class="btn btn-primary" (click)="navigateToUser()">
            <fa-icon [icon]="faUser" class="mr-5px"></fa-icon>
            Go to
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
